<div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/main" id="menu-toggle" style="cursor: pointer">Smart Office
        </a>
      </li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
      <li *ngIf="role == 'admin'">
        <a routerLink="/main/users" routerLinkActive="is-active" >Users
          <span class="sub_icon glyphicon glyphicon-user"></span>
        </a>
      </li>
      <li *ngIf="role == 'angajat'">
        <a routerLink="/main/hours" routerLinkActive="is-active" >Hours
          <span class="sub_icon glyphicon glyphicon-time"></span>
        </a>
      </li>
      <ul class="sidebar-nav" id="sidebar">
        <li *ngIf="role == 'admin' || role == 'projectmanager'">
          <a routerLink="/main/projects" routerLinkActive="is-active">Projects
            <span class="sub_icon glyphicon glyphicon-file"></span>
          </a>
        </li>
      </ul>
      <li *ngIf="role == 'admin'">
        <a>Requests
          <span class="sub_icon glyphicon glyphicon-bullhorn"></span>
        </a>
      </li>
      <li>
          <a (click)="logout()">Logout
            <span class="sub_icon glyphicon glyphicon glyphicon-off"></span>
          </a>
        </li>
    </ul>
  </div>
</div>

